{% extends base_template %}
{% load i18n bootstrap3 popupcrud_list %}
{% block content %}
{% block create_new %}
{% if new_url %}
<div>
    <a class="btn btn-primary" href="javascript:void(0);" name="create_edit_object" type="link" data-url="{{ new_url }}" data-title="{{ new_button_text }}">{{ new_button_text }}</a>
</div>
{% endif %}
{% endblock create_new %}
{% if object_list %}
{% list_content %}
{% include "popupcrud/_pagination.html" %}
{% else %}
<p>{% block empty_table_label %}{% trans "No items." %}{% endblock empty_table_label %}</p>
{% endif %}
{% include "popupcrud/_list_popup.html" %}
{% endblock content %}
