{% load bootstrap3 %}
<html>
<head>
    <meta charset="utf-8">
    <title>popupcrud test app</title>
    {% bootstrap_css %}
    <script src="{% bootstrap_jquery_url %}" type="text/javascript" charset="utf-8"></script>
    {% bootstrap_javascript %}
</head>
<body>
<div class="row">
   <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
    <h1>popupcrud test app</h1>
    {% block content %}{% endblock content %}
   </div> 
</div>
</body>
</html>
