{% extends "base.html" %}
{% block content %}
<ul>
<li><a href="{% url "library:authors" %}">Authors - Author table CRUD</a><br/>
</li>
<li><a href="{% url "library:books:list" %}">Books - Book table CRUD, shows inline creation of new Author related objects</a>
</li>
<li><a href="{% url "library:author-rating" %}">Author Rating - Shows inline creation of new Author related objects from a standard form</a>
</li>
<li><a href="{% url "library:book-rating" %}">Book Rating - Vanilla form with inline new object creation disabled</a>
</li>
<li><a href="{% url "library:multi-related-object-demo" %}">Multiple Related Object - Shows inline creation of multiple related objects, through layered popus</a>
</li>
</ul>
{% endblock content %}
